* {
    margin: 0;
    padding: 0;
}

main {
    font-size: x-large;
    margin: 30rem;
    text-align: center;
}

footer {

    background-color: #c2c2c2;
    width: 100%;
    

}

.image, .coordonnées, .horaire {
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.coordonnées {
    text-align: center;
    padding-top: 2rem;
}

.coordonnées h2 {
    padding-bottom: 1rem;
}

.coordonnées h3 {
    padding: 0.5rem;
}

.coordonnées p {
    padding-bottom: 1rem;
}

iframe {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    margin-left: 10rem;
}

.icone {
    padding-bottom: 3rem;
}

svg {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    text-align: left;
}

.horaire, h2 {
    text-align: center;
    padding-bottom: 1.5rem;
}

.horaire B {
    padding-right: 5rem;
}
.horaire {
    padding-top: 2rem;
}